name: Create GitHub Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Verify Version Consistency
        run: |
          TAG_VERSION=$(echo "${{ github.ref_name }}" | sed 's/v//')
          PUBSPEC_VERSION=$(grep 'version:' pubspec.yaml | sed 's/version: //')
          if [ "$TAG_VERSION" != "$PUBSPEC_VERSION" ]; then
            echo "Error: Tag version ($TAG_VERSION) does not match pubspec.yaml version ($PUBSPEC_VERSION)."
            exit 1
          fi
          echo "Versions are consistent."

      - name: Run Tests
        run: flutter test

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ github.event.head_commit.message }}
          draft: false
          prerelease: false

  trigger-docs-update:
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Deploy API Docs workflow
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ env.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/actions/workflows/dartdoc.yml/dispatches \
            -d '{"ref":"main"}'
